.loginbox{
   
    height: 400px;
    width: 40%;
    background-color:#fff;
    
    color:#111;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
    background-image: url(../images/form/5291450.jpg);
    border-radius: 1rem;
    align-items: center;
    text-align: center; 

    
   
}

.formbox{

    
  
  

}



.loginbox h1{
    color: #111;
    font-weight: 500;
}

.loginbox h2{
    color: #111;
    font-weight: 500;
    font-size: 1rem;
}

.loginbox span{
    color: #777;
}








